@font-face {
    font-family: 'Neon Absolute Sans';
    src: url('NeonAbsoluteSansRegular.woff2') format('woff2'),
        url('NeonAbsoluteSansRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

