.parent {
    display: flex;
    font-family: "Neon Absolute Sans";
    color: white;
    flex-direction: column;
    position: relative;
    top: 0px;
    width: 100vw;
    padding: 20px 80px;
    overflow-y: auto;
}

@media (max-width: 768px) {
    .parent {
        padding: 0;
    }
}